
*{
margin: 0;
padding: 0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#FAF9C1 ;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

header{
	height: 120px;
	background: red url(../imagens/icon.png) no-repeat top center;
	background-size: 300px;
	position: relative;
}
header h1{
	color: white;
	text-indent: -3000px;
}
	nav {
		background: red;
		height: 50px;
		padding-top: 20px;
	}
nav ul a{
	padding: 10px;
	color: gray;
	background: #fff;
	margin: 10px;
	border-radius: 30px;
}

nav ul a:hover {
	background:#ECE8E7;

}
.search{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

#home,#music, #login link:vizited{

}

#pesquisa{
	padding: 10px;
	width: 300px;
	height: 40px;
	font-size: 20px;
	border-radius: 10px;
}

#pesquisa:hover {
		background:white url(../imagens/search.png) no-repeat bottom right;	
		background-size: 20px;
	border: 0;	
}



.menu{
	display: flex;
 font-family: Verdana, Arial, Helvetica, sans-serif;

 }

	
.conteudo{
	padding: 10px;
	box-shadow:0 0 10px black ;
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item{
	margin: 10px;
	width: 340px;
	height: 315px;
	/*border: 1px solid red;*/
   position: relative;
}
.video{
 position: absolute;
 top: 30%;
}


.titulo-video{
	padding-top: 20px;
	font-size: 0.9em;
	text-align: center;
}

footer{
	background: red;
	position: relative;
}

footer h5{
text-align: center;
padding: top;
margin: 10px;
color: white;
}
#contato {
color: white;
padding-left: 15px;
}
#redes-socias ul {
    margin: 10px;
}
#redes-socias ul {
	
	padding-right: 100px;
}
#redes-socias ul a{
	color: white;
}
#redes-socias ul a:hover{
	color: #2F302C;
	/*font-size: 1.1em;*/
}

.linkicon{
	display: flex;
	flex-direction: row;
}
#email{
	text-decoration: none;
	color: white;
}
#email:hover {
	text-decoration: underline;
	color: white;
}
.redes-socias-icon{
	width: 25px;
	height: 25px;
	padding: 5px;
}
.redes-socias-icon:hover {
	width: 28px;
	height: 28px;
}


/*pagina login e registrar*/

