
*{
margin: 0;
padding: 0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

header h1{
	color: white;
	text-indent: -3000px;
}
	

.search{
	display: flex;
	justify-content: center;
}

#home,#music, #login link:vizited{

}

#pesquisa{
	padding: 10px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#pesquisa:hover {
		background:white url(../imagens/search.png) no-repeat bottom right;	
		background-size: 20px;
	    border: 0;	
}



.menu{
	justify-content: center;
	display: flex;
   font-family: Verdana, Arial, Helvetica, sans-serif;
 }

	
.conteudo{
	padding: 10px;
	background: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item{
	margin: 10px;
	width: 340px;
	height: 315px;
	/*border: 1px solid red;*/
   position: relative;
}
.video{
	position: absolute;
	top: 18%;
	width: 100%;
  	height: 200px;
}


.titulo-video{
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 0.9em;
	text-align: center;
}

footer{
	height: 200px;
	position: relative;
}

footer h5{
	font-size: 0.8em;
text-align: center;
padding: top;
margin: 10px;
color: white;
}
#contato {
color: white;
padding-left: 15px;
}
#redes-socias ul {
    margin: 10px;
}
#redes-socias ul {
	
	padding-right: 100px;
}
#redes-socias ul a{
	color: white;
}
#redes-socias ul a:hover{
	color: #2F302C;
	/*font-size: 1.1em;*/
}


.linkicon{
	display: flex;
	flex-direction: row;
}
#email{
	text-decoration: none;
	color: white;
	font-size: 0.8em;
}
#email:hover {
	text-decoration: underline;
	color: white;
}
.redes-socias-icon{
	width: 35px;
	height: 35px;
	padding: 5px;
}
.redes-socias-icon:hover {
	width: 38px;
	height: 38px;
}


/*pagina login e registrar*/

